main {
    margin-right: auto;
    margin-left: auto;
}

.header {
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header__inner {
    width: 1509.01px;
    height: 100px;
    left: 2.99px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-bottom: 1px solid #8b7969;
}

.header__logo {
    font-size: 40px;
    font-weight: 400;
    color: #8b7969;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    font-family: "Inika", serif;
    padding-left: 180px;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 80px;
}

.header-nav__link:hover {
    color: #d9c6b5;
}

.header-nav__item,
.header-nav__button {
    display: inline-block;
}

.header-nav__link,
.header-nav__button {
    background-color: #f0f0f099;
    text-decoration: none;
    text-align: center;
    color: #d9c6b5;
    font-family: "Inika", serif;
    font-weight: 400;
    font-size: 18px;
    width: 100px;
    height: 34px;
    border: 1px solid #d9c6b5;
}

.header-nav__link,
.header-nav__button {
    display: inline-block;
    vertical-align: middle;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
