.contact-form {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    font-family: "Inika", serif;
}

.contact-form__heading h2 {
    text-align: center;
    color: #8b7969;
    font-weight: 400;
    font-size: 35px;
    width: 133px;
    height: 43px;
    margin: auto;
    padding: 50px 0;
    line-height: 100%;
}

.form {
    width: 972px;
    height: 606px;
    margin: 0 auto;
}

.form__group {
    background-color: #BAA899;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.form__group:last-child {
    border-bottom: none;
}

.form__group-title {
    width: 30%;
    padding-right: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.form__group-content {
    width: 70%;
}

.form__group-content p {
    margin: 0;
}

