.contact-form {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    font-family: "Inika", serif;
}

.contact-form__heading h2 {
    text-align: center;
    color: #8b7969;
    font-weight: 400;
    font-size: 35px;
    width: 121px;
    height: 46px;
    margin: auto;
    padding: 50px 0;
    line-height: 100%;
}

.form {
    font-family: "Inika", serif;
    width: 972px;
    height: 606px;
    margin: auto;
    color: #8b7969;
}

.form__group {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}

.form__group-title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
    align-items: center;
    gap: 20px;
    width: 30%;
    height: 26px;
    padding: 0 auto;
    font-family: "Inika", serif;
}

.form__group-content {
    font-family: "Inika", serif;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.form__last-name input,
.form__first-name input,
.form__email input,
.form__phone input,
.form__address input,
.form__building input,
.form__inquiry-type select,
textarea  {
    padding: 10px;
    background-color: #f4f4f4;
    border: none;
    width: 70%;
    font-family: "Inika", serif;
}

.form__last-name,
.form__first-name {
    display: flex;
    min-width: 150px;
    width: 287.15px;
    height: 38px;
}

.form__last-name input,
.form__first-name input {
    width: 70%;
    padding: 10px;
}

.form__label--required {
    color: red;
    margin-left: 5px;
}

.form__gender label {
    padding-right: 40px;
    font-size: 18px;
}

.radio__btn {
    appearance: none;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    width: 300px;
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: 1px solid #8b7969;
}

.radio__btn:checked {
    accent-color: #8b7969;
    background-color: #8b7969;
    border: #8b7969 1px solid;
}


.form__email,
.form__address,
.form__building {
    width: 620px;
    height: 38px;
}

.form__phone {
    display: flex;
}

.form__phone span {
    color: #8b7969;
    font-family: "Inika", serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0 2%;
}

.form__phone input {
    width: 178.12px;
    height: 38px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    padding-left: 20px;
    width: 100%;
    background-color: #f4f4f4;
    border: none;
    color: #8b7969;
    font-family: "Inika", serif;
}

.form__inquiry-type {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.form__inquiry-type select {
    appearance: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #F4F4F4;
    color: #BEB1A6;
    cursor: pointer;
    width: 331.68px;
    height: 38px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Inika", serif;
}

.form__inquiry-type::after {
    position: absolute;
    right: 15px;
    width: 30.71px;
    height: 20px;
    background-color: #d4b7b7;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
    pointer-events: none;
}

.form__error {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
}

.form__gender {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form__phone {
    display: flex;
    gap: 5px;
}

textarea {
    resize: vertical;
    height: 129px;
    width: 618.82px;
    padding-top: 10px;
}

.form__detail {
    font-weight: 400;
    font-size: 14px;
}

.form__button {
    text-align: center;
    margin-top: 40px;
}

.form__button-submit {
    background-color: #82756A;
    color: #fff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form__button-submit:hover {
    background-color: #82756A;
}
